.grid-4-column {
	display: grid;
	max-width: 67rem;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	margin: auto;
}
.card-img {
	width: 100%;
	height: auto;
}
.product-name {
	font-weight: 400;
}

.strike {
	text-decoration: line-through;
}

.grid-30-70 {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr 3fr;
}

.filter-section {
	display: flex;
	flex-direction: column;
}

.text-link {
	background-color: transparent;
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
	text-decoration: underline;
}
.flex {
	display: flex;
}

@media screen and (max-width: 768px) {
	.grid-4-column {
		grid-template-columns: 1fr;
	}
}
